.ingredient-input {
    border: 0;
}

.ingredient-input:focus {
    outline: 0;
}

#include-input-area > .badge {
    background-color: blue;
}

#exclude-input-area > .badge {
    background-color: red;
}