$primary-color: #4f278f;
$primary-color-opacity: #c5afe9;
$primary-color-alternative: #4e327a;
$accent-color: #95d929;
$accent-color-alternative: #659e09;
$text-color: #484848;
$text-on-dark-color: white;

body {
  color: $primary-color;
}

nav {
  background-color: $primary-color;
  a {
    color: $text-on-dark-color;
    text-decoration: none;
    margin: auto 10px;
    &:hover {
      text-decoration: none;
      color: $accent-color;
    }
  }
  .navbar-toggler{
    width: 47px;
    height: 34px;
    border: none;
    .line{
      width: 100%;
      float: left;
      height: 2px;
      background-color: $text-on-dark-color;
      margin-bottom: 5px;
    }
  }
}

.bright-title {
  color: $accent-color;
  text-align: center;
  margin-top: 10px;
}

.main-search-form {
  margin: 10px auto;
  max-width: 500px;
  .bright-button {
    width: 100%;
  }
}

input[type=text] {
  color: $primary-color;
  display: block;
  width: 100%;
  min-height: 35px;
  border: 1px solid $primary-color-opacity;
  border-radius: 5px;
  padding-left: 10px;
  &:focus {
    outline: 0;
  }
}

.tags-area {
  @extend input[type=text];
  padding-left: 6px;
  input[type=text] {
    display: inline;
    width: 70px;
    border: none;
    padding-left: 4px;
  }
  .badge {
    border: 1px solid $primary-color;
    margin-right: 4px;
  }
}

.bright-button {
  background-color: $accent-color;
  color: $text-on-dark-color;
  font-weight: bold;
  border: none;
  margin: 10px auto;
  padding: 5px 20px;
  border-radius: 5px;
  &:hover {
    @extend .bright-button;
    background-color: $accent-color-alternative;
  }
}

#include-input-area .badge {
  background-color: $primary-color;
  color: $text-on-dark-color;
}

#exclude-input-area .badge {
  background-color: $text-on-dark-color;
  color: $primary-color;
}
