@import 'master';

.main-search-form {
  margin: 10px auto;
  max-width: 600px;
  .bright-button {
    width: 100%;
  }
}

.tags-area {
  @extend input[type=text];
  padding-left: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .badge {
    border: 1px solid $primary-color;
    height: 22px;
  }
}

.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2px;
}

#include-input, #exclude-input {
  border: none;
  padding-left: 4px;
  width: 100%;
}

#include-input-area .badge {
  background-color: $primary-color;
  color: $text-on-dark-color;
}

#exclude-input-area .badge {
  background-color: $text-on-dark-color;
  color: $primary-color;
}

.source-host-name {
  text-decoration: none;
  color: $text-color;
  font-size: 12px;
}

.recipe-block {
  padding: 3px;
}

.recipe-block-header {
  color: $text-color;
}

.recipe-block-body {
  .badge {
    border: solid 1px $text-color-soft;
    color: $text-color-soft;
  }
}

.source-link:hover {
  .recipe-block-title {
    color: $primary-color;
  }
  .recipe-block-body {
    .badge {
      border: solid 1px $primary-color;
      background-color: $primary-color;
      color: $text-on-dark-color;
    }
  }
}
