{% extends 'base.html' %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block title %}El buscador de sabores{% endblock %}

{% block contents %}

{% include 'navbar.html' %}

<main class="container">

  {% if not recipes %}
    <h4 class="bright-title">¡Busca tus sabores favoritos!</h4>
  {% endif %}

  <form class="main-search-form" method="post">
    {% csrf_token %}

    <div class="form-check form-switch">
      {{ form.ingredient_restriction.label }}
      {{ form.ingredient_restriction }}
    </div>
    
    <div id="include-input-area" class="tags-area container mt-2">
      <input id="include-input" class="ingredient-input shadow-none"
             type="text" name="include_ingredient_name">
    </div>
    {{ form.include_ingredient_names }}
    
    <div id="exclude-input-area" class="tags-area container mt-2 mb-2">
      <input id="exclude-input" class="ingredient-input shadow-none"
           type="text" name="exclude_ingredient_name">
    </div>
    {{ form.exclude_ingredient_names }}

    {{ form.recipe_name }}

    <input class="bright-button mt-3" type="submit" value="BUSCAR RECETAS">

    {% if request.session.unknown_names %}
      <p>
        Los siguientes ingredientes son desconocidos (¡Sabropedia
        los estudiará!): {{ request.session.unknown_names }}
      </p>
    {% endif %}

  </form>

  {% if recipes %}

    <div class="row">
      {% for recipe in recipes %}
      
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="my-3 recipe-block">

            <a href="{{ recipe.source.host.url }}"
               class="my-1 text-secondary source-host-name">
              {{recipe.source.host.name}}
            </a>

            <a href="{%url 'go_to_source'%}?source={{recipe.source.url}}"
               class="source-link">
              <div class="recipe-block-header">
                <h5 class="d-inline-block recipe-block-title">
                  {{recipe.title}}
                    {% if request.user.is_staff %}
                      {% if recipe.num_ingredients < recipe.num_lines %}
                        <span class="text-danger">*</span>
                      {% endif %}
                    {% endif %}
                </h5>
              </div>

              <div class="recipe-block-body">
                {% for ingredient in recipe.ingredients.all %}
                  <span class="badge">
                    {{ingredient.names.first.singular}}
                  </span>
                {% endfor %}
              </div>
          
            </a>
          </div>
        </div>
      
      {% endfor %}
    </div>

    {% if page_obj.paginator.num_pages > 1 %}
      <div class="pagination">
        <span class="step-links">

          {% if page_obj.has_previous %}
            <a href="{{url_parameters}}page=1">
              primera
            </a>
            <a href="{{url_parameters}}page={{page_obj.previous_page_number}}">
              anterior
            </a>
          {% endif %}

          <span class="current">
            Página {{page_obj.number}} de {{page_obj.paginator.num_pages}}
          </span>

          {% if page_obj.has_next %}
            <a href="{{url_parameters}}page={{page_obj.next_page_number}}">
              siguiente
            </a>
            <a href="{{url_parameters}}page={{page_obj.paginator.num_pages}}">
              última
            </a>
          {% endif %}

        </span>
      </div>
    {% endif %}

  {% endif %}

  <script src="{% static 'js/search/ingredientTags.js' %}"></script>

</main>

{% endblock contents %}
