{% extends 'base.html' %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}


{% block title %}
  <title>¡Busca tus recetas!</title>
{% endblock %}

{% block contents %}

{% include 'navbar.html' %}

<main class="container">

  <h3 class="bright-title">El buscador de sabores</h3>

  <form class="main-search-form" action="{% url 'do_search' %}" method="post">
    {% csrf_token %}

    <div class="form-check form-switch">
      {{ form.ingredient_restriction.label }}
      {{ form.ingredient_restriction }}
    </div>
    
    <div id="include-input-area" class="tags-area container mt-2">
      <input id="include-input" class="ingredient-input shadow-none"
             type="text" name="include_ingredient_name">
    </div>
    {{ form.include_ingredient_names }}
    
    <div id="exclude-input-area" class="tags-area container mt-2 mb-2">
      <input id="exclude-input" class="ingredient-input shadow-none"
           type="text" name="exclude_ingredient_name">
    </div>
    {{ form.exclude_ingredient_names }}

    {{ form.recipe_name }}

    <input class="bright-button mt-3" type="submit" value="BUSCAR RECETAS">

  </form>


  {% if recipes %}

    <div class="row">
      {% for recipe in recipes %}
      
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="my-4 recipe-block">
          
            <div class="recipe-block-header">
              <h5 class="d-inline-block recipe-block-title">
                <a href="{{ recipe.source.url }}">
                  {{recipe.title}}
                </a>
              </h5>
            </div>
          
            <div class="recipe-block-body">
              {% for ingredient in recipe.ingredients.all %}
                <span class="badge">
                  {{ingredient.names.first.singular}}
                </span>
              {% endfor %}
            </div>
          
          </div>
        </div>
      
      {% endfor %}
    </div>

  {% endif %}

  <script src="{% static 'js/search/ingredientTags.js' %}"></script>

</main>

{% endblock contents %}
