<nav class="navbar navbar-expand-sm navbar-light">

  <div class="container-fluid">

    <h3>
      <a href="{% url 'index' %}">Sabropedia</a>
    </h3>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarMenu"
            aria-controls="navbarMenu" aria-expanded="false"
            aria-label="Alternar navegación">
      <span class="line"></span> 
      <span class="line"></span> 
      <span class="line"></span>
    </button>

    <div class="navbar-nav collapse navbar-collapse" id="navbarMenu">

      <div class="dropdown">

        <a class="dropdown-toggle" href="#" id="navbarUserMenu"
           role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Agregar receta
        </a>

        <ul class="dropdown-menu" aria-labelledby="navbarUserMenu">
          <li>
            <a class="dropdown-item" href="{% url 'new_recipe' %}">
              Receta propia
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'insert_source' %}">
              Desde link externo
            </a>
          </li>
        </ul>

      </div>

      <div class="navbar-nav ms-auto dropdown">

        {% if request.user.is_authenticated %}

          <a class="dropdown-toggle" href="#" id="navbarUserMenu"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{request.user.username}}
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarUserMenu">
            <li>
              <a class="dropdown-item" href="{% url 'edit_user' %}">
                Editar usuario
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'logout' %}">
                Cerrar sesión
              </a>
            </li>
          </ul>

        {% else %}

          <a class="nav-link" href="{% url 'login' %}">
            Inicia sesión
          </a>

        {% endif %}

      </div>

    </div>

  </div>

</nav>
