{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block contents %}

{% include 'navbar.html' %}

<main class="container d-flex justify-content-center">

    <form method="post">
        {% csrf_token %}
        <p>{{ form.title.label}}: {{ form.title }}</p>
        <input id="number-of-ingredients" type="hidden" name="number_of_ingredients" value="{{number_of_ingredients}}">
        <p>Ingredientes:</p>
            {% for ingredient_line in ingredient_lines.all %}
                <p id="line-{{forloop.counter}}">
                    <input type="text" name="ingredient_line_{{forloop.counter}}"
                            id="ingredientline-{{forloop.counter}}" class="ingredient-line"
                            value="{{ ingredient_line.text }}">
                    <span id="removeline-{{forloop.counter}}" class="remove-ingredient-line badge bg-danger">-</span>
                    <span id="addline-{{forloop.counter}}" class="add-ingredient-line badge bg-success">+</span>
                </p>
            {% empty %}
            <p id="line-1">
                <input type="text" name="ingredient_line_1" id="ingredientline-1" class="ingredient-line">
                <span id="removeline-1" class="remove-ingredient-line badge bg-danger">-</span>
                <span id="addline-1" class="add-ingredient-line badge bg-success">+</span>
            </p>
            {% endfor %}
            <p id="line-0"><span id="addline-0" class="add-ingredient-line badge bg-success">+</span></p>
        <p>{{ form.preparation_section.label}}:</p>
        <p>{{ form.preparation_section }}</p>
        <input class="btn btn-success mt-2" type="submit" value="Listo">
    </form>

    {% load static %}
    <script src="{% static 'recipes/ingredientLine.js' %}"></script>
</main>
{% endblock contents %}