{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>{{ page_title }}</title>
{% endblock %}

{% block contents %}

{% include 'navbar.html' %}

<main class="container">

    {% for recipe in recipes %}
    <div class="card my-4">
        <div class="card-header">
            <h5 class="card-title d-inline-block">
                <a href="{% url 'view_recipe' recipe.id %}">{{recipe.editions.last.title}}</a>
            </h5>
            <span>Creado por
                <a href="{% url 'profile' recipe.author.username %}">
                    {{recipe.author.get_full_name}}
                </a>
            </span>
        </div>
        <div class="card-body">
            {% for ingredient in recipe.ingredients.all %}
            <span class="badge bg-secondary">{{ingredient.names.first.singular}}</span>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

</main>
{% endblock contents %}