{% extends 'base.html' %}

{% block title %}
<title></title>
{% endblock %}


{% block contents %}
{% include 'navbar.html' %}

<main class="container">

    <h2>{{ user.get_full_name }}</h2>
    <h5 class="text-secondary">{{ user.username }}</h5>

    {% if user.level == 1 %}
        <h5 class="text-danger">Administrador</h5>
    {% endif %}
    {% if not user.private_location %}
        <p>Ubicación: {{ user.city.name }}, {{ user.city.country.name }}</p>
    {% endif %}

    <div class="card">
        <div class="card-header">Acerca de {{ user.first_name }}:</div>
        <div class="card-body">{{ user.bio }}</div>
    </div>

    <h3>Recetas de {{ user.get_full_name }}:</h3>
    {% for recipe in user.created_recipes.all %}
        <div class="card my-4">
            <div class="card-header">
                <h5 class="card-title d-inline-block">
                    <a href="{% url 'view_recipe' recipe.id %}">
                        {{recipe.editions.last.title}}
                    </a>
                </h5>
            </div>
            <div class="card-body">
                {% for ingredient in recipe.ingredients.all %}
                    <span class="badge bg-secondary">
                        {{ingredient.names.first.singular}}
                    </span>
                {% endfor %}
            </div>
        </div>
    {% empty %}
        <p>Aún no hay recetas publicadas por {{ user.first_name }}.</p>
    {% endfor %}
</main>

{% endblock contents %}
